/*Подключение шрифтов*/
@font-face {
  font-family: 'AvenirNextCyr';
  src:
    url(../fonts/avenirnextcyr-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr';
  src:
    url(../fonts/avenirnextcyr-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/*Mobile*/
a {
  color: #ffffff;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;

}

.link_grey {
  color:#9C9C9F;
}

.link_blue {
  color: #0865E2;;
  text-decoration: none;
}

body {
  font-family: AvenirNextCyr;
  font-weight: normal;
  font-style: normal;
  color: #3C3C3C;

  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.block-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.block-title__heading1 {
  font-size: 22px;
  line-height: 24px;
}

.block-title__heading2 {
  font-size: 24px;
  line-height: 28px;
}

.block-title__heading3 {
  font-size: 21px;
  line-height: 25px;
}

.block-title_white {
  color: #ffffff;
}

.block__transparent {
  opacity: 0.5;
}

.block-text__grey {
  color: #9B9B9B;
}

.block-text {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
}

.block-text__supper {
  vertical-align: super;
}

.block-text__paragraph-header {
  font-size: 16px;
  line-height: 22px;
}

.block-text__paragraph-regular {
  font-size: 14px;
  line-height: 18px;
}

.block-text__paragraph-small {
  font-size: 12px;
  line-height: 16px;
}

.block-text__white {
  color: #ffffff;
}

.block-text__centered {
  text-align: center;
}

.list__slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  overflow-x: scroll;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.list__slider::-webkit-scrollbar {
  width: 0;
}


.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-flow: column;

  margin: 0 auto;

  width: 90%;
  max-width: 767px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*header*/
.logo-wrapper {
  margin-bottom: 35px;
}

.header_logo {
  margin-bottom: 10px;
  margin-right: auto;
}

.phone-number {
  font-size: 16px;
}

.phone-number::before {
  display: inline-block;
  content: "";
  width: 17px;
  height: 17px;

  background: url(../img/icons/phone-icon.svg);
  background-position: center center;

  margin-right: 7px;
}

/*special-account*/

.special-account {
  margin-bottom: 51px;
}

.main-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  padding: 0;


  width: 100%;
  max-width: 100%;
  height: 65px;
  line-height: 65px;

  background-color: #6882F1;
  box-shadow: 0px 10px 20px rgba(104, 130, 241, 0.2);

  border: none;
  border-radius: 2px;

}

.main-button:hover {
  background-color: #4D89FF;
  box-shadow: 0px 20px 20px rgba(104, 130, 241, 0.2);
}

.main-button:active {
  background-color: #3D57C6;
}

.main-button__white {
  color: #0D0F5A;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(96, 96, 96, 0.2);
  border-radius: 2px;
}

.main-button__white:hover {
  background-color: #FBFBFB;
}

.main-button__white:active {
  background-color: #F5F5F5;
  box-shadow: none;
}
/*tariffes*/

.tariffes-section {
  margin-bottom: 70px;
}

.tariffes-list {

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.tariff-item_price {
  margin-bottom: 21px;
}

.tariff-item_price__number {
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
}

.tariff-item_price__number::after {
  display: inline;

  content: "₽";
  font-size: 15px;
  vertical-align: super;
}

.tariff-item__condition {
  color: #919191;
}

.tariff-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;

  justify-content: space-between;

  min-width: 254px;
  width: 254px;



  padding: 30px 37px 38px 25px;
  margin: 0;
  margin-right: 15px;

  mix-blend-mode: normal;
  border: 0.25px solid #A9A9A9;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.tariff-item .block-text__paragraph-regular {
  margin-bottom: 20px;
}

.tariff-first-condition {
  margin-top: 21px;
}

.tariff-button {
  color: #3C3C3C;
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;

  mix-blend-mode: normal;
  border: 0.75px solid #6882F1;
  box-shadow: 0px 10px 20px rgba(104, 130, 241, 0.2);
  border-radius: 2px;
}

.tariff-button:hover {
  background-color: #ffffff;
}

.tariff-button:active {
  background-color: #ffffff;
}

/*Госзакупки*/
.article {
  background-color: #4365E9;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 30px;
  padding-bottom: 33px;
}

.temporary-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Тендеры*/
.tender-section {
  padding-top: 60px;
}

.tender-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Торговые площадки*/

.floors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.floors-list_item {
  min-width: 220px;
  width: 220px;
  height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #F4F4F4;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;

  justify-content: space-around;
  justify-content: space-evenly;
  padding-left: 16px;
  padding-right: 28px;
  margin-right: 10px;
}

.floors-list_item_img {
  max-width: 100%;
  margin-right: auto;
  height: fit-content;
}

/*Инструкция*/
.how-to-start {
  margin-bottom: 60px;
}

.instructions-list {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.instructions-list_step {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;
  justify-content: space-between;

  width: 180px;

  margin-right: 22px;

  background-repeat: no-repeat;
  background-position: bottom left;
}

.instructions-list_step p {
  margin: 0;
}

.step__1 {
  background-image: url(../img/backgrounds/step-1.png);
}
.step__2 {
  background-image: url(../img/backgrounds/step-2.png);
}
.step__3 {
  background-image: url(../img/backgrounds/step-3.png);
}

.instructions-list_step_image {
  margin-bottom: 22px;
  margin-right: auto;
}

.how-to-start_button {
  margin-bottom: 25px;
}

/*Что надо */

.start-requirements {
  margin-bottom: 50px;
}

.start-requirements_list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;

  max-width: 1200px;
  margin: 0 auto;
}

.start-requirements_list li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: row wrap;
  align-items: flex-end;

  position: relative;
}

.start-requirements_list li:not(:first-child) {
  justify-content: center;
  align-items: center;
}

.start-requirements > h2 {
  margin: 15px;
  margin-top: 0;
}

.requirement-text-wrapper {
  max-width: 185px;
  margin-left: 20px;
}

.requirement:last-child .requirement-image{
  transform: rotate(125deg);
  width: 150px;
  margin-left: -95px;
}

.requirement:nth-child(2) .requirement-image{
  width: 120px;
}

.requirement:nth-child(2) .requirement-text-wrapper {
  max-width: 154px;
}

.requirement:first-child .requirement-text-wrapper{
  margin-left: auto;
  margin-right: 10px;
}

/*Скидка*/

.article_logo {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

/*Форма*/

.request-form {
  margin-bottom: 10px;
}

.request-form-section {
  padding-top: 24px;
}

.entity-choose_label {
  display: block;
  margin-bottom: 15px;
}

.request-form_entity-choose {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;

  width: 199px;
  height: 56px;

  padding: 4px;
  margin-bottom: 30px;

  background-color: #E3E8FF;
  opacity: 0.8;

  border: 1px solid #BDC8F8;
  box-sizing: border-box;
  border-radius: 2px;
}

.request-form_entity-choose:hover span{
  color: #0865E2;
}

.request-form_entity-choose span:hover{
  cursor: pointer;
}

.request-form_entity-choose label span {
  display: block;
  text-align: center;
  line-height: 48px;
  width: 87px;
  background-color: #E3E8FF;
  transition: background-color .1s linear;
}

.entity-choose:checked + span{
  background-color: #6882F0;
  box-shadow: 0px 10px 15px rgba(104, 130, 240, 0.2);
  border-radius: 2px;
  color: #ffffff;
  opacity: 1;

  transition: background-color .1s linear;
}

.form-field-wrapper {
  position: relative;
}

.form-field__required {
  display: inline;
  content: "*";
  color: #4365E9;
}

.form-field-wrapper label{
  background-color: #ffffff;

  position: absolute;
  top: 30px;
  transform: translateY(-50%);
  left: 20px;

  transition: top .1s linear;
}

.request-form_field:focus + label {
  top: -10px;
  transform: none;

  transition: top .1s linear;

  color: rgba(0,0,0,0.5);
}

.request-form_field {
  border: 1px solid #5C6BC0;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.2;

  background-color: #ffffff;

  margin: 0;
  padding: 0;

  padding-left: 20px;
  margin-bottom: 25px;


  width: 100%;
  height: 60px;
  line-height: 60px;
}

.request-form_field:focus {
  opacity: 1;
}

.main-button__submit {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 16px;
}

/*Подвал*/

.page-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;
}

.link__footer {
  font-size: 12px;
  margin-bottom: 10px;
}

.page-footer_links-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-flow: column;
}

/*tablet*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .temporary-hidden {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
  }

  .special-account_first-sentence {
    margin-bottom: 25px;
  }

  .block-title__heading1 {
    font-size: 30px;
    line-height: 34px;
  }

  .block-title__heading2 {
    font-size: 24px;
    line-height: 28px;
  }

  .block-title__heading3 {
    font-size: 21px;
    line-height: 25px;
  }

  .block-text {
    margin-bottom: 25px;
  }

  .block-text__paragraph-header {
    font-size: 12px;
    line-height: 16px;
  }

  .block-text__paragraph-regular {
    font-size: 12px;
    line-height: 16px;
  }

  .block-text__paragraph-small {
    font-size: 10px;
    line-height: 16px;
  }

  .container {
    max-width: 873px;
  }

  .main-button {
    width: 225px;
  }

  .mobile-only {
    display: none;
  }


  /*Специальный счёт*/
  .main-header {
    background-image: url(../img/backgrounds/car-bg.png);
    background-repeat: no-repeat;
    background-position: right top;

    -webkit-background-size: contain;
    background-size: contain;

    padding-top: 40px;
  }

  .special-account .block-title__heading1 {
      max-width: 440px;
  }

  .special-account .block-text__paragraph-header {
      max-width: 320px;
  }

  /*Тарифы*/

  .tariff-item {
    width: 157px;
    min-width: 157px;
    padding: 0;

    border: none;
    box-shadow: none;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .tariff-conditions {
    width: 85px;
    height: 230px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-flow: column;

    justify-content: space-between;

    margin-right: 35px;
  }

  .tariff-conditions .tariff-item__condition{
  }

  .tariff-item_price__number {
    font-size: 24px;
    line-height: 25px;
  }

  .tariffes-list {
    justify-content: space-between;
  }

  .tariff-first-condition {
    margin-top: 0;
  }

  /*Госзакупки*/

  .article {
    padding-bottom: 0;
  }

  .article__public-purchase .container {
    flex-flow: row;
  }

  .article_image {
    margin-top: -110px;
    transform: rotate(10deg) scale(.7);
    width: 268px;
    height: 353px;
  }

  /*Тендеры*/

  .tender-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
  }

  .tender-list_item:not(:last-child) {
    margin-right: 20px;
  }

  /*Площадки*/


  .floors-list {
    flex-wrap:wrap;
  }

  .floors-list_item {
    margin-bottom: 10px;
  }

  /*Инструкции*/

  .special-account_wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .how-to-start_button {
    min-width: 225px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .instructions-list {
    margin-bottom: 50px
  }

  /*что надо*/

  .start-requirements_list {
    flex-flow: row;
  }

  .requirement:not(:last-child) {
    margin-right: 30px;
  }

  .requirement-image {
    width: auto;
  }

  .requirement:last-child .requirement-image {
    transform: translateY(-25px) translateX(-15px) scale(1.1);
    margin: 0;
    width: auto;
  }

  .requirement:nth-child(2) .requirement-image {
    width: auto;
}

  /*финакс*/

  .article-discount_text-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
  }

  .main-button__small.main-button__white {
    min-width: 155px;
    margin-left: 22px;
  }

  .article__discount h2{
    margin-right: 25px;
  }

  .article_text-wrapper {
    height: fit-content;
  }

  /*Форма*/

  .request-form-section .container{
    flex-flow: row;
    justify-content: space-between;
  }

  .request-form {
    margin-right: 90px;
  }

  .advantages-list {
    list-style: none;
    padding: 0;
    margin: 0;

    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .advantages-list img {
    margin-bottom: 15px;
  }

  /*Подвал*/

  .page-footer .block-text {
    color: #000000;
    font-size: 12px;
  }

  .footer_text-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .footer_text-wrapper p:first-child{
    margin-right: 14px;
  }

  .page-footer_links-list a:not(:last-child) {
    margin-right: 35px;
  }

  .page-footer_links-list {
    flex-flow: row;
  }


}


@media screen and (min-width: 1200px) {

  .block-title__heading1 {
    font-size: 36px;
    line-height: 42px;
  }

  .block-title__heading2 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 35px;
  }

  .block-title__heading3 {
    font-size: 21px;
    line-height: 25px;
  }

  .block-text__paragraph-header {
    font-size: 16px;
    line-height: 25px;
  }

  .block-text__paragraph-regular {
    font-size: 14px;
    line-height: 17px;
  }

  .block-text__paragraph-small {
    font-size: 14px;
    line-height: 17px;
  }

  .container {
    width: 72.83333%;
    max-width: 873px;
  }


  /*Хэдер*/
  .main-header {
    margin-bottom: 66px;
  }

  .logo-wrapper .container {
    flex-flow: row;
    justify-content: space-between;
  }

  .special-account .block-title__heading1 {
    max-width: 522px;
  }

  .special-account .block-text__paragraph-header {
    max-width: 400px;
  }

  .special-account {
    padding-bottom: 148px;
    margin-bottom: 0;
  }

  .special-account .container p:first-child {
    margin-bottom: 14px;
  }

  /*Тарифы*/

  .tariffes-section .block-title__heading2 {
    text-align: center;
  }

  .tariffes-section .container {
    width: 82.91666666%;
    max-width: 995px;
  }

  .tariff-item {
    width: 270px;

    border: 1px solid rgba(38, 238, 157, .4);
    border-radius: 4px;

    box-sizing: border-box;

    padding: 25px 22px;
    padding-top: 56px;
    margin-right: 20px;
  }

  .tariff-button {
    opacity: 0;
    color: #ffffff;

    background-color: #4D89FF;
    box-shadow: 0px 10px 20px rgba(104, 130, 241, 0.2);
  }

  .tariff-button:hover {
    background-color: #4D89FF;
    cursor: pointer;
  }

  .tariff-button:focus {
    background-color: #3D57C6;
  }

  .tariff-item:hover .tariff-button {
    opacity: 1;

    transition: opacity .1s linear;
  }

  .tariff-item:hover {
    color: #ffffff;
    background-color: #4365E9;

    transition: background-color .1s linear;
    transition: color .1s linear;
  }

  .tariff-item_price__number {
    font-size: 30px;
    line-height: 25px;
  }

  .tariff-conditions {
    width: 105px;
    height: 287px;
    padding-top: 63px;
  }

  /*Госзакупки*/

  .article {
    background-color: #ffffff;
  }

  .article__public-purchase {
    margin-bottom: 100px;
  }

  .tender-section {
    padding: 0;
  }

  .article .container {
    overflow: visible;
    padding-top: 40px;
  }

  .article .container::before {
    content: "";
    position: absolute;

    top:50%;
    left:50%;

    transform: translate(-50%, -50%) matrix(-1, -0.05, -0.05, 1, 0, 0);

    border-radius: 80px 150px 49px 127px;

    width: 122.336769%;
    height: 100%;

    background-color: #4365E9;
  }

  .article_text-wrapper h2{
    position: relative;
  }

  .article__public-purchase .article_image {
    margin: 0;
    margin-right: 95px;
    transform: rotate(-15deg) scaleX(-1) scale(1.1) translateY(35px);
  }




  /*Инструкции*/
  .instructions-list {
    margin-bottom: 14px
  }

  .instructions-list_step {
    width: 230px;
  }

  .special-account_text-wrapper {
    padding-top: 40px;
  }

  /*Что надо*/
  .requirement:last-child .requirement-image {
    transform: scale(1.2) translate(2px, -79px);
  }

  /*Скидка финакс*/

  .article_logo,
  .article-discount_text-wrapper {
    z-index: 1;
  }

  .article__discount .container::before {
    transform: translate(-50%, -50%) matrix(-1, -0.05, -0.05, 1, 0, 0) scaleX(-1) rotate(-5deg);
  }

  .article__discount {
    margin-bottom: 60px;
  }


}
